@model HRHelper.Models.JobPosition

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobPosition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MustHave" class="control-label"></label>
                <input asp-for="MustHave" class="form-control" />
                <span asp-validation-for="MustHave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technologies" class="control-label"></label>
                <input asp-for="Technologies" class="form-control" />
                <span asp-validation-for="Technologies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewGuide" class="control-label"></label>
                <input asp-for="InterviewGuide" class="form-control" />
                <span asp-validation-for="InterviewGuide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jargon" class="control-label"></label>
                <input asp-for="Jargon" class="form-control" />
                <span asp-validation-for="Jargon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
